{% load django_bootstrap5 i18n %}
{% get_current_language as LANGUAGE_CODE %}

<!DOCTYPE html>
<html lang="{{ LANGUAGE_CODE }}">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>
        {% block title %}
        {% trans "Task manager" %}
        {% endblock %}
    </title>

    {% bootstrap_css %}
    {% bootstrap_javascript %}

</head>

<body class="d-flex flex-column min-vh-100">
<header>
    {% include 'includes/nav.html' %}
</header>

<main role="main" class="container wrapper flex-grow-1">

    {% bootstrap_messages %}


    <h1 class="cover-heading my-4">
        {% block header %}{% endblock %}
    </h1>

    {% block content %}
    {% endblock %}
</main>

{% include 'includes/footer.html' %}

</body>
</html>